@keyframes intermitente {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

body{
    margin: 0;
    padding: 0;
}
#pantallaInicio{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(https://www.casualarena.com/bundles/app/st/games/co4/fb/casualarena-fb-es.jpg?8877992);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#pantallaInicio h1{
    margin-bottom: 7rem;
    color: red;
    font-size: 4rem;
    animation:intermitente 0.8s infinite;
}

#conecta4{
    display: none;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
#tabla{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,1fr);
    width: 1700px;
    height: 1000px;
    background: blue;
    justify-items: center;
    align-items: center;
    padding: 40px 0px;
    border-left: 40px solid rgb(173, 163, 66);
    border-right: 40px solid rgb(173, 163, 66);
    border-bottom: 80px solid rgb(0, 0, 0);
  }
#hueco {
  border-radius: 50%;
  text-align: center;
  background: rgb(185, 181, 181);
  width: 150px;
  height: 150px;
  box-shadow: 1px -1px gray, 5px -1px black, 4px 5px gray, 8px 10px black;
}
