@keyframes intermitente {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


body{
    margin: 0;
    padding: 0;
}
#pantallaInicio{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(https://www.casualarena.com/bundles/app/st/games/co4/fb/casualarena-fb-es.jpg?8877992);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#pantallaInicio h1{
    margin-bottom: 7rem;
    color: red;
    font-size: 4rem;
    animation:intermitente 0.8s infinite;
}

#conecta4{
    display: none;
    align-items: center;
    justify-content: center;
    background-image: url(https://www.casualarena.com/bundles/app/st/games/co4/fb/casualarena-fb-es.jpg?8877992);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
#tabla{
    position: relative;
    width: 1250px;
    height: 1000px;
    background-image: url(https://img.genial.ly/56f02bbc1561e80fe0933d02/e739988d-16f2-4f93-88bf-6999f7dcd095.png);
    background-repeat:no-repeat;
    background-size:cover;
  }
.hueco{
  position:absolute;
  border-radius: 50%;
  text-align: center;
  background: rgb(185, 181, 181);
  width: 120px;
  height: 120px;
  box-shadow: 1px -1px gray, 5px -1px black, 4px 5px gray, 8px 10px black;
}
#menu-colocacion{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
}
#menu-colocacion:hover{
  background: none;
}
.opacity{
  width: 120px;
  height: 120px;
  border-radius:50%;
  background: red;
  opacity: 0.4;
}
.opacity:hover{
  opacity: 1;
}
#posicion2,#posicion3,#posicion4,#posicion5,#posicion6,#posicion7{
  width: 120px;
  height: 120px;
  border-radius:50%;
}
#posicion2:hover,#posicion3:hover,#posicion4:hover,#posicion5:hover,#posicion6:hover,#posicion7:hover{
  width: 120px;
  height: 120px;
  border-radius:50%;
}
#hueco1{
  left:119px;
  top: 53px;
}
#hueco2{
  left:267px;
  top: 53px;
}
#hueco3{
  left:414px;
  top: 53px;
}
#hueco4{
  left:562px;
  top: 53px;
}
#hueco5{
  left:705px;
  top: 53px;
}
#hueco6{
  left:854px;
  top: 53px;
}
#hueco7{
  left:1004px;
  top: 53px;
}
#hueco8{
  left:119px;
  top: 200px;
}
#hueco9{
  left:267px;
  top: 200px;
}
#hueco10{
  left:414px;
  top: 200px;
}
#hueco11{
  left:562px;
  top: 200px;
}
#hueco12{
  left:705px;
  top: 200px;
}
#hueco13{
  left:854px;
  top: 200px;
}
#hueco14{
  left:1004px;
  top: 200px;
}
#hueco15{
  left:119px;
  top: 344px;
}
#hueco16{
  left:267px;
  top: 344px;
}
#hueco17{
  left:414px;
  top: 344px;
}
#hueco18{
  left:562px;
  top: 344px;
}
#hueco19{
  left:705px;
  top: 344px;
}
#hueco20{
  left:854px;
  top: 344px;
}
#hueco21{
  left:1004px;
  top: 344px;
}
#hueco22{
  left:119px;
  top: 491px;
}
#hueco23{
  left:267px;
  top: 491px;
}
#hueco24{
  left:414px;
  top: 491px;
}
#hueco25{
  left:562px;
  top: 491px;
}
#hueco26{
  left:705px;
  top: 491px;
}
#hueco27{
  left:854px;
  top: 491px;
}
#hueco28{
  left:1004px;
  top: 491px;
}
#hueco29{
  left:119px;
  top: 642px;
}
#hueco30{
  left:267px;
  top: 642px;
}
#hueco31{
  left:414px;
  top: 642px;
}
#hueco32{
  left:562px;
  top: 642px;
}
#hueco33{
  left:705px;
  top: 642px;
}
#hueco34{
  left:854px;
  top: 642px;
}
#hueco35{
  left:1004px;
  top: 642px;
}
#hueco36{
  left:119px;
  top: 788px;
}
#hueco37{
  left:267px;
  top: 788px;
}
#hueco38{
  left:414px;
  top: 788px;
}
#hueco39{
  left:562px;
  top: 788px;
}
#hueco40{
  left:705px;
  top: 788px;
}
#hueco41{
  left:854px;
  top: 788px;
}
#hueco42{
  left:1004px;
  top: 788px;
}

/* Pantalla Ganador */

#pantallaGanador{
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: black;
}
#title-pantallaGanador{
  color: white;
  font-size: 3rem;
}
#ganador{
  color: white;
  font-size: 6rem;
}
#fuegosArtificiales{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background:url(https://usagif.com/wp-content/uploads/firework-5.gif)black;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  width: 60rem;
  height: 40rem;
}


